// Place all the styles related to the cereals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: linear-gradient(black, rgb(15, 217, 240));
}

a {
  text-decoration: none;
  color: black;
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  height: 100%;
  padding: 20px;
  width: 88%;
  margin: 20px auto 0px;
}

.app-header {
  background-image: url("https://cdn.shopify.com/s/files/1/2100/2891/products/1261_cereal_boxes_1200_b9ea9620-46f9-455d-9238-dc5b4c84da6a.jpg?v=1565038476");
  width: 90%;
  height: 300px;
  margin: 0 auto;
  border-radius: 25px;
}

.overlay {
  width: 100%;
  height: 300px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  line-height: 300px;
  font-family: 'Molle';
  text-align: center;
}

h1 {
  font-size: 7vw;
  text-shadow: 4px 4px rgb(15, 217, 240);
}

h2 {
  // font-size: 2em;
  font-size: 2vw;
  font-family: 'Molle';
  // text-shadow: 2px 2px rgb(15, 217, 240);
}


strong {
  font-size: 1em;
  font-family: 'Molle';
  text-decoration: underline;
  // text-shadow: 1px 1px rgb(15, 217, 240);
}

.index-img {
  max-width: 300px;
  max-height: 250px;
}

.show-img {
  max-width: 25%;
  padding: 25px;
  border-radius: 25px;
  border: 8px solid rgba(15, 217, 240, 0.3);
  background-color: rgba(15, 217, 240, 0.3);
}


.index-container {
  width: 90%;
  margin: 20px auto 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  // background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.8));
  border-radius: 25px;
}

.index-tile {
  flex-direction: row;
  text-align: center;
  background-color: rgba(15, 217, 240, 0.3);
  padding: 20px;
  margin: 15px;
  border-radius: 25px;
  min-width: 350px;
}

.index-tile:hover {
  background-color: rgb(15, 217, 240);
  // border: 5px solid rgb(15, 217, 240);
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  height: 100%;
  padding: 20px;
  width: 88%;
  margin: 20px auto 0px;
}

.form-container {
  text-align: center;
  min-height: 400px;
}