<h1>CREATE NEW CARNIVAL</h1>

<form action="/carnivals" method="POST" >
  <input type="text" name="name" placeholder="Enter Name">
  <input type="text" name="location" placeholder="Location">
  <input type="number" name="number_of_rides" placeholder="Ride Number">

  <input type="submit" value="CREATE CARNIVAL">
</form>