<div class="index-container">
  <%  @cereals.each do |cereal| %>
    <div class="index-tile">
      <h2><%= link_to cereal.name, cereal %></h2>
      <img class="index-img" src="<%= cereal.img_url %>" alt="<%= cereal.name%>">
      <h3><%= cereal.slogan %></h3>
    </div>
  <%  end  %>
</div>