
<div class='container'>
  <div class='yeet' id='beef'> while {true} learn 1</div>
  <div id='beef'> while {true} learn 2</div>
  <div id='beef'> while {true} learn 3</div>
  <div class="card">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>
</div>
